@model SmartBudget.Models.IncomeType
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var incomeTypeEditWarning = TempData["IncomeTypeEditWarning"] as string;
    var incomeTypeExist = TempData["DuplicateIncomeType"] as string;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-united.css" />
    <title>Incomes</title>
</head>

<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-4 offset-2 align-self-center">
                <form method="post" asp-action="IncomeTypeEdit" asp-route-id=@Model.Id>
                    <div class="row">
                        <h3 class="text-success">Edit income type</h3>
                    </div>
                    <div class="row">
                        <label class="col-form-label">Title</label>
                        <input type="text" asp-for="Type" class="form-control">
                        <span asp-validation-for="Type" class="text-success"></span>
                    </div>

                    @if (!string.IsNullOrEmpty(incomeTypeExist))
                    {
                        <div class="alert alert-dismissible alert-success gap-2 mt-2">
                            <a>@incomeTypeExist</a>
                        </div>
                    }
                    @if ((!string.IsNullOrEmpty(incomeTypeEditWarning)))
                    {
                        <div class="alert alert-dismissible alert-success gap-2 mt-2">
                            <a>@incomeTypeEditWarning</a>
                        </div>
                    }
                    <div class="d-grid gap-2 mt-2 d-md-flex justify-content-between mt-3">
                        <input type="submit" class="btn btn-success me-md-2 w-100" value="Edit" />
                        <input type="submit" class="btn btn-success w-100" asp-controller="Income" asp-action="Index" value="Back" /> @*Connection between edit income type and index*@
                    </div>
                </form>
            </div>
            <div class="col-6 align-self-center">
                <img style="width:300px" src="~/images/income.png" />
            </div>
        </div>
    </div>
</body>
