@model SmartBudget.Models.ExpenseType
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var expenseTypeEditWarning = TempData["ExpenseTypeEditWarning"] as string;
    var exepnseTypeExist = TempData["DuplicateExpenseType"] as string;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-united.css" />
    <title>Expenses</title>
</head>

<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-4 align-self-center justify-content-center">
                <form method="post" asp-action="ExpenseTypeEdit" asp-route-id=@Model.Id>
                    <div class="row">
                        <h3 class="text-primary">Edit expense type</h3>
                    </div>
                    <div class="row">
                        <label class="col-form-label">Title</label>
                        <input type="text" asp-for="Type" class="form-control">
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    @if (!string.IsNullOrEmpty(exepnseTypeExist))
                    {
                        <div class="alert alert-dismissible alert-primary gap-2 mt-2">
                            <a>@exepnseTypeExist</a>
                        </div>
                    }
                    @if ((!string.IsNullOrEmpty(expenseTypeEditWarning)))
                    {
                        <div class="alert alert-dismissible alert-primary gap-2 mt-2">
                            <a>@expenseTypeEditWarning</a>
                        </div>
                    }
                    <div class="d-grid gap-2 mt-2 d-md-flex justify-content-between mt-3">
                        <input type="submit" class="btn btn-primary me-md-2 w-100" value="Edit" />
                        <input type="submit" class="btn btn-primary w-100" asp-controller="Expense" asp-action="Index" value="Back" /> @*Connection between edit expense type and index*@
                    </div>
                </form>
            </div>
            <div class="col-6 align-self-center">
                <img src="~/images/expense.jpg" />
            </div>
        </div>
    </div>
</body>
