@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var b1 = TempData["B1"] as string;
    var predictedBalance = TempData["PredictedBalance"] as string;
    var nextPeriod = TempData["NextPeriod"] as string;
}

<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Balance By Year and Month"
	},
	toolTip: {
		shared: true
	},
	data: [{
        markerColor: "#00003f",
		type: "line",
		name: "Balance",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div class="row h-100">
        @if (string.IsNullOrEmpty(predictedBalance))
        {
            <div class="mt-4">
                <p>
                    Oops, you don't have any records yet. Please add
                    <a class="text-danger" asp-controller="Expense" asp-action="Index">expenses</a> and
                    <a class="text-success" asp-controller="Income" asp-action="Index">incomes</a>
                    in order to use this functionality.
                </p>
            </div>
        }
        else
        {
            <div class="col align-self-center">
                <div class="row">
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <p>
                        It seems that there is a
                        @if (Double.Parse(b1) < 0)
                        {
                            <span class="text-danger">decrease</span>
                        }
                        else
                        {
                            <span class="text-success">increase</span>
                        }
                        in your balance.
                    </p>
                    <p>
                        <em>
                            If you don't see partcular month in the chart, please provide information for the
                            <a class="text-danger" asp-controller="Expense" asp-action="Index">expenses</a> and
                            <a class="text-success" asp-controller="Income" asp-action="Index">incomes</a>
                        </em>
                    </p>
                    <p>Calculated value for <strong>@nextPeriod</strong> is <strong>@predictedBalance</strong>. The predicted balance is included in the chart.</p>
                </div>
            </div>
        }
    </div>
</body>
